{:paths ["src" "public"]
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        thheller/shadow-cljs {:mvn/version "3.4.11"}
        reagent/reagent {:mvn/version "1.2.0"}
        re-frame/re-frame {:mvn/version "1.4.3"}
        nrepl/nrepl {:mvn/version "1.7.0"}
        cider/cider-nrepl {:mvn/version "0.58.0"}}}
