target/
.cpcache/
.clj-kondo/.cache/
.lsp/.cache/
local.deps.edn
.hive-cljs/

# example/ build + install artifacts
example/node_modules/
example/package-lock.json
example/public/js/
example/.shadow-cljs/
example/shadow.log
